.LeftSideBar {
    display: flex;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
    gap: 10px;
    cursor: pointer;
    background-color: white !important;
  }
.main-section .LeftSideBar:hover {
  background-color: white;
}
.LeftSideBar h3 {
    color: #5f6368;
    font-size: 22px;
  }
 
  