.signin-form {
    background-color: #f3b604;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 0px;
}
.sign-input {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}
.signin-btn {
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
    padding-left: 18px;
    align-items: center;
    width: 350px;

}
.signin-btn:hover , .signup-btn:hover {
    background-color: #f3b604;
    box-shadow: 2px -1px 15px white;
}
.signup-btn {
    background-color: transparent;
    color: white;
    width: 350px;
    margin-top: 10px;
}

.name-input {
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.p {
    margin-top: 40px;
    margin-left: 10px;
    color: rgb(74, 74, 74);
}